/* html {
  background-color: rgb(230, 226, 226);
} */
body {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  position: relative;
}
header img {
  width: 40%;
  margin: 10px;
}
#menulinks {
  display: none;
}
.icon {
  display: block;
  position: absolute;
  right: 10px;
  top: 15px;
  color: grey;
}
section {
  margin-left: 20px;
  margin-top: 20px;
}
h1 {
  font-weight: bold;
}
h3 {
  font-size: xx-large;
}
h4 {
  text-transform: uppercase;
}
button {
  width: 150px;
  padding: 20px;
  border-radius: 30px;
  border-width: 3px;
  border-color: rgb(221, 118, 157);
  /* border-image-source: linear-gradient(to right,red, yellow); */
}
p {
  color: rgb(121, 118, 118);
}
.firstsection {
  display: flex;
}
.firstsection img {
  width: 400px;
}
.secondsection {
  background-image: url(assets/background.svg);
  background-size: cover, contain;
  margin-left: 0;
  margin-top: 50px;
}
.secondsection p {
  color: black;
  margin: 20px;
}
.secondsection h3 {
  font-size: xx-large;
  margin-left: 20px;
  margin-top: 50px;
}
.secondsection div {
  padding-top: 30px;
  padding-bottom: 5px;
}
.thirdsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.thirdsection img {
  width: 100px;
  padding: 10px;
}
.box {
  background-color: rgb(234, 229, 229);
  border-radius: 15px;
  width: 300px;
  margin-top: 10px;
}
.box img {
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
}
.container img {
  width: 10px;
}
.gloop {
  color: chocolate;
  font-size: 10px;
}
.bid {
  font-size: 10px;
}
.black {
  color: black;
}
.fifthsection {
  display: flex;
  border-top: 2px solid rgb(229, 226, 226);
  border-bottom: 2px solid rgb(229, 226, 226);
  margin-top: 70px;
  margin-bottom: 70px;
}
.fa-brands {
  color: rgb(158, 156, 156);
  margin-right: 10px;
}
.sixthsection {
  display: flex;
  gap: 50px;
}
.sixthsection label {
  color: rgb(44, 44, 44);
  font-size: 15px;
}
#meniu {
  margin-top: 20px;
  margin-bottom: 20px;
}
#meniu a {
  text-decoration: none;
  color: grey;
  font-size: 17px;
  margin-top: 20px;
}
footer {
  color: rgb(197, 193, 193);
  margin-top: 30px;
  padding-bottom: 50px;
  margin-left: 20px;
}
